@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;300;400;500;600&display=swap');
/*css reset*/

*{
    margin:0;
    padding:0;
}

html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 1.6rem;
    position: relative;
}

/*modal-box*/

/*sign-up-log-in*/
    #sign-up-log-in:checked ~ .modal-box{
        display: grid;
    }
/*end of sign-up-log-in*/

.modal-box{
    position:absolute;
    z-index:1000;
    background: linear-gradient(to top, #eee, #123763,#eee);
    border: .1rem solid #586775;
    padding:2rem;
    top: 30vh;
    left:50vw;
    transform: translateX(-50%);
    box-sizing: border-box;
    display: none;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    grid-template-rows: minmax(min-content,1fr);
    row-gap: 2rem;
    min-width: 33%;
    animation: shakeform 1s;
}

@keyframes shakeform {
    0%{
        transform:translateX(-30%) ;
    }
    25%{
        transform:translateX(-70%) ;
    }
    50%{
        transform:translateX(-30%) ;
    }
    75%{
        transform:translateX(-50%) ;
    }
}

.modal-box-btns-wrapper{
    display: grid;
    grid-row: 1/2;
    column-gap: 1rem;
    font-size: 2rem;
    color:white;
    text-align: center;
}

.modal-box input {
    font-size: 1.6rem;
    color: #535151;
  }

.modal-label{
    background-color: #021d38;
    color: #fff;    
    display: inline-block;
    padding:1rem 2rem;
    cursor: pointer;
    box-shadow: 3px 3px 7px #888;
}

.modal-sign-up-label{
    grid-column: 1/2;
    pointer-events:none;
    background-color: rgb(2, 29, 56, .8);
    color: rgba(174, 183, 190, 0.9); 
    box-shadow: none;
}

.modal-exit-btn{
    grid-column: 3/4;
    width: 50%;
    justify-self: end;
    height: 70%;
    color: red;
    font-size: 1.8rem;
    font-weight: 600;
    background: transparent;
    border: none;
    border-radius: 13%;
    min-width: 2.5rem;
}

.lbl-exit-btn{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 3rem;
    transition: transform .2s;
}

.lbl-exit-btn:hover{
    transform: scale(1.1);
}

.lbl-exit-btn:hover{
    color:rgb(245, 16, 16);
    text-shadow: 1px 1px 3px #888;
   
}

.modal-log-in-label{
    grid-column: 2/3;
}

.modal-box-forms-wrapper{
    grid-row: 2/-1;
    display: grid;
    grid-template-rows: repeat(2,min-content);

}

.modal-sign-up-form{
    width: 100%;
}

.name-wrapper{
    display: flex;
    width: 100%;
    margin-bottom: 1rem; /*for row gap*/
}

.name-wrapper-name{
    width: 50%;
    padding:1rem;
}

.therest-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.modal-sign-up{
    padding:1rem;
    margin-bottom:1rem; /*for row gap*/
}

.modal-sign-up-form-btn{
    background-color: #021d38;
    color: #fff;    
    display: inline-block;
    padding:1rem 2.5rem;
    cursor: pointer;
    box-shadow: 3px 3px 7px #888;
    font-size: 1.5rem;
    outline:none;
    border:1px solid #888;
    width: 100%;
    margin-bottom: 1rem;
}

.modal-log-in-form{
    flex-direction: column;
    margin-bottom: 1rem;
    display: none;
}


/*modal logic*/
#sign-up-log-in:checked ~ .main-container{
    pointer-events: none;
    opacity: .2;
}

#modal-box-show-form:checked ~ .modal-box-forms-wrapper .modal-log-in-form{
    display: flex;
}

#modal-box-show-form:checked ~ .modal-box-forms-wrapper .modal-sign-up-form{
    display: none;
}

#modal-box-show-form:checked ~ .modal-box-btns-wrapper  .modal-sign-up-label{
    pointer-events: visible;
    background-color: rgb(2, 29, 56);
    color: #fff; 
}

#modal-box-show-form:checked ~ .modal-box-btns-wrapper  .modal-log-in-label{
    pointer-events: none;
    background-color: rgb(2, 29, 56, .8);
    color: rgba(174, 183, 190, 0.9); 
}
/*end of modal-box*/

/*first-nav*/
    .main-container{
        display: grid;
        grid-template-columns: minmax(5rem,1fr) repeat(8,minmax(min-content,1fr)) minmax(5rem,1fr);
        grid-template-rows: repeat(3,min-content) 70vh repeat(5,min-content);
        row-gap: 1.6rem;
        margin-top: 1.6rem;
        padding:.5rem;
    }

    .social-list{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
        justify-items: center;
        align-items: center;
        height: 100%;
        
    }

    .social-item{
        display: inline-block;
        text-align: center;
        font-size: 2.5rem;
    }

    .social-link{
        display: grid;
        cursor: pointer;
        text-decoration: none;
        transition: all 1s linear;
    }

    .social-link:hover{
        transform: rotate(-360deg) scale(1.1);
        color:#12376e;
    }
    .first-nav{
        grid-column:5 / 10;
        grid-row: 1 / 2;
    }

    .first-nav-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        list-style: none;
        justify-items: center;
        align-items: center;
        height: 100%;
    }
    
    .first-nav-link{
        display: block;
        text-align: center;
        cursor: pointer;
        padding-bottom: .4rem;

    }


    .first-nav-item i{
        padding-right: .5rem;
    }

    .first-nav-item::after{
        content:"";
        display: block;
        height: .1rem;
        width: 0;
        background-color: #303236;
        margin: 0 auto;
    }

    .first-nav-item:hover::after{
        width: 100%;
        transition: width .1s cubic-bezier(.55,0,.98,.54);
    }
/*end of first-nav*/

/*search form*/
    .search-form{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-column: 8/10;
        grid-row: 2/3;
    }

    .search-form-input{
        grid-column: 1 / 7;
        padding:.5rem;
        font-size: 1.3rem;
        border: none;
        outline:none;
        border-bottom: 1px solid #12376e;
        font-size: 1.5rem;
    }

    .search-form-btn{
        transform: rotate(90deg) translate(0, 1rem);
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .fa.s.fa-search{
        font-size: 1.6rem;
    }
/*end of search form*/

/*second nav*/
.second-nav{
    grid-column: 2 / 10;
    grid-row:3/4;
    border-top: 1px solid #12376e;
    border-bottom: 1px solid #12376e;
}


.second-nav-list{
    grid-template-columns: repeat(5,minmax(10rem, 1fr));
    display: grid;
    list-style: none;
}


.second-nav-link{
    display: grid;
    justify-items: center;
    text-decoration: none;
    padding: 0.2rem 0;
    transition: all .5s .2s;
}

.second-nav-item:hover{
    background-color: rgb(11, 45, 61);
}
.second-nav-item:hover a{
    color:white;
    background-color: #12376e;
}

.second-nav-link::before,
.second-nav-link::after{
    content:"";
    width: 0;
    height: .1rem;
    margin:.7rem 0;
    background-color: #12376e;
    display: block;
    transition: width .5s cubic-bezier(.55,0,.95,.54), background-color .5s .2s;
}

.second-nav-item:hover .second-nav-link::before,
.second-nav-item:hover .second-nav-link::after{
    width:100%;
    background-color: #6a6c70;

}

.second-nav-item:hover .second-nav-link::before{
    justify-self: start;
}

.second-nav-item:hover .second-nav-link::after{
    justify-self: end;
}

/*dropdown*/
.second-nav-item{
    position: relative;
}

.dropdown{
    position: absolute;
    display: grid;
    width:80rem;
    grid-template-columns: repeat(auto-fit,10rem);
    background-color: rgb(248, 248, 241);
    padding:1rem;
    display: none;
    opacity: 0;
    column-gap: 1rem;
    transition: all .5s .5s;
    overflow: hidden;
    z-index: 400;
}

.second-nav:hover .dropdown-link{
    background-color: none;
}

.dropdown-first-list{
    grid-column: 1/3;
    list-style: none;
}
.dropdown-second-list{
    grid-column: 3/5;
    list-style: none;

}

.dropdown img{
    grid-column: 5/-1;
    width: 100%;
    object-fit: cover;
    margin:auto;
}

.second-nav-item:hover .dropdown{
    display: grid;
    opacity: 1;
}

.second-nav .dropdown-link {
    background-color: unset;
    color: darkslateblue;
    text-decoration: none;
    padding: 1rem .5rem;
    display: block;
}

.second-nav:hover .dropdown-link{
    background-color: unset;
    color: darkslateblue;

}

.dropdown-item:hover{
    background-color: #d6d8da;
    
}

.dropdown-item:hover a{
    color: rgb(183, 209, 209);
}
/*end of dropdown*/
/*end of second nav*/

/*slideshow*/
.banner{
    position: relative;
    grid-column: 2/10;
    grid-row: 4/5;
}

.banner-content{
    position: absolute;
    z-index: 300;
    grid-column: 2/10;
    grid-row: 4/5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.banner-content h1{
    font-size: 6rem;
    font-weight: 900;
    color:#0b276a;
    text-shadow: 3px 3px 10px #fff;
}

.banner-btn{
    cursor: pointer;
    font-size: 2rem;
    padding: 1.2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 18rem;
    height: 5rem;
    margin:0 auto;
    transition: top .5s step-end;
    background: linear-gradient(to bottom, #12376e, #061b3b);
    color: #fff;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px #fff;
    outline: none;
}

.banner-btn:hover{
    box-shadow: 1px 1px 10px rgb(131, 122, 122);
}

.banner-btn-text-one{
    width:100%;
    position: absolute;
    left: 0;
}

.banner-btn-text-two{
    width:100%;
    position:absolute;
    top:-50%;
    left: 0;

}

.banner-btn:hover .banner-btn-text-one{
    top: 160%;
}

.banner-btn:hover .banner-btn-text-two{
    top: 27%;
}


.slideshow{
    height: 100%;
    overflow: hidden;
}

.slides-wrapper{
    width: 400%;
    height: 100%;
    display: flex;
    position: relative;
    animation: slideshow 20s;
}

.slide{
    width:100%;
}

.slideimage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideshow {
    0%{left: 0}
    10%{left: 0}
    15%{left: -100%}
    25%{left: -100%}
    30%{left: -200%}
    40%{left: -200%}
    45%{left: -300%}
    55%{left: -300%}
    60%{left: -200%}
    70%{left: -200%}
    75%{left:-100%}
    85%{left:-100%}
    90%{left:0}
}


.ss-btn{
    position:absolute;
    z-index: 300;
    top: 92%;
    left: 50%;
    transform: translate(-50%);
    width: 1.8rem;
    height:1.8rem;
    outline:none;
    border:1px solid #12376e;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #fff;
    background: linear-gradient(to top, #12376e,#fff);
    cursor: pointer;
}

.ss-btn-1{
    position: absolute;
    transform: translateX(-250%);
}

.ss-btn-2{
    position: absolute;
    transform: translateX(-100%);

}
.ss-btn-3{
    position: absolute;
    transform: translateX(50%);

}
.ss-btn-4{
    position: absolute;
    transform: translateX(200%);

}

.ss-btn-1:focus ~ .slides-wrapper{
    animation:none;
    left:0;
}
.ss-btn-2:focus ~ .slides-wrapper{
    animation:none;
    left:-100%;
}
.ss-btn-3:focus ~ .slides-wrapper{
    animation:none;
    left:-200%;
}
.ss-btn-4:focus ~ .slides-wrapper{
    animation:none;
    left:-300%;
}
/*end of slideshow*/

/*on-sale*/
.on-sale{
    padding-top: 5rem;
    display: grid;
    grid-column: 2/10;
    grid-row: 5/6;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(5, 120px);
    column-gap: 2rem;
    text-align: center;
    position: relative;
}

.on-sale-img-1{
    grid-column: 2/span 3;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.on-sale-img-2{
    grid-column: 5/span 3;
    grid-row: 2/-1;
    width: 100%;
    align-self: end;
    height: 100%;
    object-fit: cover;
}

.on-sale h2{
    grid-column: 5/8;
    grid-row: 1/2;
    position:absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;  
    color:#12376e;  
}

.on-sale-btn{
    grid-column: 5/8;
    grid-row: 1/2;
    width: max-content;
    height: max-content;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-style: inherit;
    font-weight: 500;
    padding: 1rem 2rem;
    background: linear-gradient(to bottom, #12376e, #061b3b);
    color: #fff;
    border-radius: .5rem;
    box-shadow: 1px 1px 10px #fff;
    outline: none;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
/*end of on-sale ended at 5/6*/

/*best-selling*/

.best-selling{
    padding-top: 6.5rem;
    grid-column: 2/10;
    grid-row: 6/7;
}

.best-selling h2{
    color:#12376e;
    font-size: 4rem; 
    padding-bottom: 3rem; 
    text-align: center;
}

.best-selling-cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    column-gap: 1rem;
}

.best-selling-card{
    color: aliceblue;
    border-radius: .5rem;
    overflow: hidden;
    border: 1 px solid #12376e;
    box-shadow: .3rem .3rem 10px #888;
    margin:2.5rem;
    text-align: center;
    background-color:rgba(88, 103, 117,.2);

}

.best-selling-card img{
    width:100%;
    object-fit: cover;
}

.best-selling-card h3{
    padding: 1.2rem 1rem;
    font-size: 2.3rem;
    color:#586775;
}

.best-selling-card button{
    background-color: rgba(88, 103, 117,.9);
    width: 100%;
    padding: 1rem;
    border-radius: 0;
    font-size: 2rem;
    border: none;
    outline: none;
    color: #d6d8da;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .07rem;
    font-weight: 500;
}

.best-selling-card button:hover{
    background-color: rgba(88, 103, 117,1);

}
/*end of best-selling*/

/*gallery*/
    .gallery {
        grid-column: 1 / -1;
        grid-row: 7 / 8;
        display: grid;
        grid-template-columns: repeat(8, minmax(1rem, 1fr));
        grid-template-rows: repeat(4, 10vw);
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 6.4rem;
        background-color: rgba(88, 103, 117,1);
        padding: 1.6rem 0;
    }

    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .5;
        transition: opacity .3s;
    }

    .gallery img:hover {
        opacity: 1;
    }

    .gallery-img-1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    
    .gallery-img-2 {
        grid-column: 3 / 6;
        grid-row: 1 / 3;
    }
    
    .gallery-img-3 {
        grid-column: 6 / 7;
        grid-row: 1 / 2;
    }
    
    .gallery-img-4 {
        grid-column: 7 / 9;
        grid-row: 1 / 3;
    }
    
    .gallery-img-5 {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }
    
    .gallery-img-6 {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
    
    .gallery-img-7 {
        grid-column: 6 / 7;
        grid-row: 2 / 4;
    }
    
    .gallery-img-8 {
        grid-column: 5 / 6;
        grid-row: 3 / 5;
    }
    
    .gallery-img-9 {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    
    .gallery-img-10 {
        grid-column: 3 / 5;
        grid-row:4 / 5;
    }
    
    .gallery-img-11 {
        grid-column: 6 / 7;
        grid-row: 4 / 5;
    }
    
    .gallery-img-12 {
        grid-column: 7 / 9;
        grid-row: 3 / 5
    }
/*end of gallery*/

/*Sign up after row 7/8*/
.sign-up{
    grid-row: 9/10;
    grid-column: 1/-1;
    background-color: rgba(88, 103, 117,1);
    color:#fff;
    display: grid;
    margin-bottom:3rem;
    padding: 5rem 0;
    box-shadow: 0 2px 10px #888;
    grid-template-columns: minmax(5rem,1fr) repeat(2,minmax(min-content,1fr)) minmax(5rem,1fr);
}

.sign-up-content h2{
    font-size: 2.1rem;
}

.sign-up-content{
    grid-column: 2/3;
    grid-row:1/2;
    align-self: flex-end;
    justify-self: flex-end;
    padding-right:1.5rem;
    text-shadow: 0 2px 10px #888;

}

.sign-up-input-and-btn{
    grid-column: 3/4;
    grid-row:1/2;
    display: flex;
}

.sign-up-input{
    margin-right:0;
    font-size: 1.8rem;
    width:60%;
    padding:.5rem 1.5rem;
    border-radius: 2rem 0 0 2rem;
    outline:none;
    border:.2rem solid #888;
    border-right: none;
    border-style: none;
    box-shadow: 0 2px 10px #888;
    color:#303236;
}

.sign-up-input:focus{
    outline:none;
}

.sign-up-btn{
    margin-left:0;
    outline: none;
    border-radius:  0 2rem 2rem 0;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    border:.2rem solid #888;
    border-right:none;
    border-style: unset;
    box-shadow: 0 2px 10px #888;

}

/*end of Sign up*/

/*footer*/
.footer{
    grid-row: 10/11;
    grid-column: 4/8;
    text-align: center;
    margin-bottom: 5rem;
}

.footer-nav{
    list-style: none;
    grid-column: 4/8;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
    text-decoration: none;
    margin-bottom: 2rem;
}

.footer-nav-item{
    display: grid;
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
}

.footer-nav-link{
    text-decoration: none;
    width: 100%;
    text-align: center;
    transition: all .5s 2s ease-in-out;

}

.footer-nav-link::before{
    content:"●●●";
    width: 0;
    border-top: 1px solid #12376e;
    opacity: 0;
    display: block;
}

.footer-nav-link::after{
    content:"●●●";
    width: 0;
    opacity: 0;
    display: block;
}

.footer-nav-item:hover .footer-nav-link::after{
    content:"●●●";
    width: 100%;
    opacity: 1;
}

.footer-nav-item:hover .footer-nav-link{
    color:#12376e;
}

/*end of footer*/

/*media queries*/
@media (max-width: 1500px) {
    .sign-up{
        transition: all .5s;
    }    

    .sign-up-content h2{
        font-size: 2rem;
    }
}

@media(max-width: 1400px){
    .main-container{
        grid-template-columns: minmax(3rem,1fr) repeat(8,minmax(min-content,1fr)) minmax(3rem,1fr);
        grid-template-rows: repeat(3,min-content) 60vh repeat(5,min-content);
    }

    .on-sale{
        grid-column: 1/-1;
    }
    .on-sale h2{
        font-size: 3.5rem;
    }
}

@media(max-width: 1300px){
    .social-list {
        grid-row: 2/3;
    }
    .first-nav {
        grid-column: 2 / 10;
    }
    .search-form{
        grid-column: 7/10;
    }
}

@media(max-width:1200px){
    .best-selling-cards-container {
        grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    }
}

@media(max-width:1100px){
    .banner-content h1{
        font-size: 5rem;
    }

    .banner-btn-text-one {
        height: 100%;
        top: 22%;
      }

    .banner-btn{
        top:20%;
    }

    .sign-up-content h2 {
        font-size: 1.8rem;
    }

    .dropdown{
        width:70rem;
        grid-template-columns: repeat(auto-fit,8rem);
    }

    

}

@media(max-width:1000px){
    .main-container{
        grid-template-columns: minmax(2rem,1fr) repeat(8,minmax(min-content,1fr)) minmax(2rem,1fr);
        grid-template-rows: repeat(3,min-content) 50vh repeat(5,min-content);
    }

    .sign-up-content {
        grid-column: 1/3;
    }

    .sign-up-input-and-btn {
        grid-column: 3/-1;
    }

    .sign-up-input {
        width: 45%;
    }

    .on-sale h2 {
        font-size: 3.2rem;
    }

    .social-list {
        grid-column: 2 / 5;
    }

    .dropdown{
        width:65rem;
    }
    .best-selling-cards-container {
        grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    }

    .footer {
        grid-column: 3/9;
    }
}

@media(max-width:900px){
    .main-container{
        grid-template-columns: minmax(1rem,1fr) repeat(8,minmax(min-content,1fr)) minmax(1rem,1fr);
        grid-template-rows: repeat(3,min-content) 40vh repeat(5,min-content);
    }
    .on-sale h2 {
        font-size: 2.9rem;
    }

    .banner-content h1 {
        font-size: 4rem;
    }

    .banner-btn{
        width: 15rem;
    }

    .dropdown{
        width:32rem;
    }

    .dropdown img{
        display: none;
    }

    .best-selling h2 {
        padding-bottom: 1rem;
        font-size: 3rem;
    }
}

@media(max-width:800px){
    .main-container{
        grid-template-columns: minmax(1rem,1fr) repeat(8,minmax(min-content,1fr)) minmax(1rem,1fr);
        grid-template-rows: repeat(3,min-content) 40vh repeat(5,min-content);
    }

    .banner-btn{
        width: 15rem;
    }

    .on-sale-btn {
        font-size: 1.7rem;
        padding: 0.8rem 1.8rem;
    }

    .on-sale {
        grid-column: 2/10;
        display: flex;
      }

}

@media(max-width:700px){
    .banner-content h1 {
        font-size: 3.5rem;
      }

    .banner-btn {
        width: 14rem;
    }
    
    .best-selling-cards-container {
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
}
/*end of media queries*/